/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------import all font----------------------- */
/* Font UnistraA */
@font-face {
    font-family: "UnistraA-Regular";
    src: url("../font/UnistraA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Italic";
    src: url("../font/UnistraA-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Bold";
    src: url("../font/UnistraA-Bold.ttf") format("truetype");
}

/* Font UnistraB */
@font-face {
    font-family: "UnistraB-Regular";
    src: url("../font/UnistraB-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Italic";
    src: url("../font/UnistraB-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Bold";
    src: url("../font/UnistraB-Bold.ttf") format("truetype");
}
/* ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
------------------------ General -------------------------- */

*, 
::after, 
::before{
    box-sizing: border-box;
}
body{
    /* affichage */
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'UnistraA-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: none; /* minceur de la barre de défilement */
    scrollbar-color: #cccccc00 #f0f0f000; /* couleur de la barre de défilement */
    /* background */
    background-color: #ffffff;
    /* texte */
    font-size: 1.5em;
    color: #353538;
}
/* titre par defaut */
.title, 
h3 {
    font-size: 2em;
    transition: 0.5s;
    margin: 0;
    font-family: 'UnistraA-Bold';
}
/* lien par defaut */
a {
    display: inherit;
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease-out;
}
/* liste par defaut */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// HEADER BEGIN ////////////////////////*/
header{
    background-color: #0808ad;
    display: flex;
    flex: 0;
}
/* barre de navigation */
.navbar {
    /* affichage */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px 30px;
    /* background */
    background-color: #212e53;
    /* texte */
    color: white;
}
/* Items de gauche */
.left-items {
    order: 0; /* placer en premier à gauche */
}
/* Item de droite */
.right-items {
    order: 1; /* placer en second à gauche */
    display: inherit;
    justify-content: flex-end;
}
/* Element de gauche */
.initial{
    padding-left: 5px;
    border-left: 2px solid #ce6a6b;
    transition: 0.4s ease-out;
}
.initial:hover{
    margin-left: 5px;
    letter-spacing: 1px;
}

/* Elements de droite */
.right-items li{
    padding: 0 20px;
}
.right-items a:hover{
    color: #fff;
    transform: scale(1.2) translateX(-5px);
    cursor: pointer;
}
/* Recherche */
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Champ de recherche */
.search-form .search-input {
    /* affichage */
    width: 60%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    transition: 0.4s ease-out;
    /* background */
    background-color: #00000000;
    /* texte */
    color: #a1a1a1;
}
/* Icon de recherche */
.search-form .search-icon{
    color: #ce6a6b;
    font-size: 0.7em;
}
/* Bouton de recherche */
.search-form .search-button {
    /* affichage */
    border: none;
    transform: translateY(-3px); /* Mise en symetrie de bouton */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    /* background */
    background-color: #212e53;
    /* texte */
    color: #bdbdbd;
    text-align: center;
    font-size: 1em;
}
/* :hover  et :focus du champs de recherche */
.search-form .search-input:hover, 
.search-form .search-input:focus {
    width: 100%;
    background-color: #cecece;
    color: #212e53;
}
/* /////////////////// HEADER END //////////////////////////*/

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// CONTENT BEGIN ///////////////////////*/
main{
    /* affichage */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background */
    background-color: #fffb00;
    /* texte */
    color: #212e53;
}
.row{
    /* affichage */
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /* background */
    background-color: #ffffff;
}

/* ///////////////////////////////////////////////////////////
////////////////////// PRESENTATION ROW ////////////////////*/
.presentation{
    /* affichage */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background */
    background-image: url("/img/bkgr_squart.svg");
    background-attachment: fixed;
    animation: moveBackground 50s linear infinite;
}
@keyframes moveBackground {
    0% { background-position: 0 0; /* Position de depart */
    }
    100% { background-position: 100% 100%; /* Position finale (deplace le degrade jusqu'au bout) */
    }
}

/* image de gauche */
.left-side{
    width: 35%;
    /* background */
    background-color: rgba(255, 255, 0, 0);
}
.right-side{
    /* affichage */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px 10vw 10px 10px;
    width: 100%;
    height: 100vh;
    z-index: 1; /* positionnement au dessus de .left-side img */
    cursor: pointer;
    /* background */
    background: linear-gradient(to right, #00000000, #bed3c39a, #bed3c3, #bed3c3, #6fb4c0, #4a919e);
    /* texte */
    text-align: right;
    /* animation d'affichage */
    opacity: 0;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}
.left-side img{
    /* affichage */
    transform: scale(3) translateX(8vw) translateY(5vh);
    transition: transform 1.5s ease-out;
}
/* texte de salutation */
.welcome{
    /* affichage */
    margin-bottom: 0px;
    transition: margin-right 5s; /* reduire la tramsition pour :hover out */
    /* texte */
    font-size: 4em;
}
.quote{
    color: #ce6a6b;
}

/* Modification en cas de :hover traiter sur javascript */
.modified-presentation .right-side{
    opacity: 1;
    outline: none;
    transition-delay: 0.5s;
    animation: goTo 2s forwards; /*glissade vers la gauche*/
}
@keyframes goTo {
    0% { 
        letter-spacing: -5px;
        width: 50%;
    }
    100% { 
        letter-spacing: normal;
        width: 100%; 
    }
}
.modified-presentation .left-side img{
    transform: scale(2.5) translateX(2vw) translateY(2vh); /*retourne au coin gauche*/
}

/* ///////////////////////////////////////////////////////////
////////////////////// PROFIL ROW //////////////////////////*/
.profil{
    /* affichage */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
/* section titre/intro du profil */
.intro{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 10vh;
}
/* section detailles du profil */
.detail{
    /* affichage */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* section texte du profil */
.text {
    /* affichage */
    width: 40%;
    padding: 1.5em;
    padding-top: 0px;
    /* background */
    background-color: #0808ad00;
}
#nom{
    font-family: 'UnistraA-Bold';
    font-size: 1.8em;
}
/* section image : container de l'image*/
.profil .img {
    align-items: center;
    width: 30%;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
/* image de la section profile */
.profil .img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: 0.2s ease-out;
}
.profil .img:hover img{
    filter: grayscale(0%);
    transform: scale(101%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-out;
}
/* modification au cas de :hover sur la ligne  */
.modified-profil .img{
    opacity: 1;
    animation: moveImg 1.5s forwards; /*glissade vers la gauche*/
}
@keyframes moveImg {
    0% { 
        opacity: 0;
        transform: translateX(-10vw);
    }
    50% { 
        opacity: 0.5;
        transform: translateX(10vw);
    }
    100% { 
        opacity: 1;
        transform: initial;
    }
}

/* ///////////////////////////////////////////////////////////
////////////////////// PROJECT ROW /////////////////////////*/
.project{
    /* affichage */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background */
    background-image: url("/img/bkgr_1.svg");
    background-attachment: fixed;
}
.project .intro{
    /* affichage */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 5px;
    transition: 0.4s ease-out;
    /* position */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    /* background */
    background-color: #4a919e;
    /* texte */
    text-align: center;
    font-size: 2em;
    font-family: 'UnistraA-Bold','Courier New', Courier, monospace;
}
/* Styles lorsque l'élément est sticky et en haut (top: 0) */
.project .intro.intro-top {
    margin: 0px;
    /* padding-top: 5px; */
    font-size: 1.3em;
    transition: 0.4s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* Styles lorsque l'élément est sticky et en haut (top: 0) */
.project .intro.intro-top p{
    padding: 5px;
    margin: 0px;
    transition: 0.4s ease-out;
    cursor: pointer;
}
.project .intro.intro-top .descrip {
    display: none;
    transform: 0.4s ease-out;
}
.project .fa-displ{
    display: none;
    font-size: 1.1em;
    transition: 0.4s ease-out;
}
.project .intro.intro-top .fa-displ{
    display: flex;
    transition: 0.4s ease-out;
}

/* selection des projets */
.selection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* container de chaque projet */
.box {
    /* affichage */
    display: inline-block;
    margin: 150px 0px 50px 0px;
    background-color: #242020;
    border-radius: 10px;
    width: 70vw;
    /* texte */
    color: rgb(151, 151, 151);
}
/* Image d'illustration du projet */
.box .img{
    display: flex;
    justify-content: center;
}
.box img{
    /* affichage */
    clip: auto;
    border-radius: 7px;
    margin: 2rem;
    max-height: 20vh;
    max-width: 30%;
    /* position */
    position: relative;
    transform: scale(210%) translateY(-20%);
}
.box .text {
    width: 100%;
}
.read-more{
    /* affichage */
    width: fit-content;
    padding: 0.5em 1.0em;
    border-radius: 5px;
    transition: 0.3s ease-out;
    cursor: pointer;
    /* background */
    background-color: rgba(255, 255, 255, 0.781);
    /* texte */
    color: #292424;
}
.read-more:hover{
    background-color: rgb(116, 109, 109);
    transition: 0.3s ease-out;
}

/* //////////////////////////////////////////////////////////
////////////////////// MODAL WINDOW BEGIN //////////////// */

/* fenetre pour les detailles des projets */
.modal-container{
    /* affichage */
    visibility: hidden;
    width: 100vw;
    height : 100vh;
    overflow: auto;
    transition: visibility 0.2s;
    /* position */
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
}
/* titre du projet */
.modal-container h2{
    margin-right: 10%;
    text-align: right;
}
.modal-container img{
    /* affichage */
    clip: auto;
    border-radius: 7px;
    margin: 2rem;
    /* position */
    position: relative;
    transform: scale(220%) translateY(-10%);
}
/* affiche toute la fenetre quand :active*/
.modal-container.active{
    transition: visibility 0.2s;
    visibility: visible;
}
/* layout pour un fond grisé */
.overlay{
    /* affichage */
    width: 100%;
    height: 100%;
    transition: opacity 0.2s 0.2s ease-out;
    opacity: 0;
    /* position */
    position :fixed;
    /* background */
    background: #333333d3;
}
/* affiche le fond gris quand :active */
.modal-container.active .overlay{
    opacity: 1;
    transition: opacity 0.2s ease-out;
}
/* fenetre avec contenus*/
.modal {
    /* affichage */
    border-radius: 10px;
    width: 80vw;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30vh);
    /* background */
    background: #fff;
    /* texte */
    color: #4d4d4d;
}
/* affiche la fenetre avec contenus quand :active */
.modal-container.active .modal{
    opacity: 1;
    transition: opacity 0.2s 0.2s ease-out;
}
/* icon de fermeture */
.close-modal{
    /* affichage */
    cursor: pointer;
    /* position */
    position: absolute;
    transform: translate(-50%, -50%);
    right: 0;
    /* texte */
    font-size: 30px;
    color: #ff365e;
}
/* /////////////////// MODAL WINDOW END /////////////////// */

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// FOOTER BEGIN ////////////////////////*/
footer{
    /* affichage */
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* background */
    background-color: rgb(22, 22, 22);
    /* texte */
    color: #a1a1a1;
    font-size: 1.0rem;
}
/* section pour le Nom avec une balise h3 */
footer .title{
    font-family: 'UnistraA-Bold','Courier New', Courier, monospace;
    text-decoration: none;
    color: #a1a1a1;
    font-size: 1.5rem;
}
/* section pour les informations */
.info{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px 0;
}
/* section copyright */
.copyright{
    /* affichage */
    padding: 5px;
    /* texte */
    font-size: medium;
    text-align: center;
    font-size: 1rem;
}
/* Element nom */
.name{
    display: flex;
    justify-content: center;
    width: 30vw;
    margin-top: 50px;
    cursor: pointer;
}
/* section contacts */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10vw;
    border-left: 2px solid #a1a1a1;
    padding-left: 10vw;
}
/* section pour les reseaux */
.network{
    display: flex;
    flex-direction: row;
}
.network li, .phone li{
    list-style: none;
    margin: 0 10px;
}

/* les icons pour les reseaux */
.fa {
    color : #a1a1a1;
    transition: 0.4s ease-out;
}
.network .fa:hover{
    transform: scale(1.4) translateY(-20%);
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #5d8ffa;
}
.fa-instagram:hover {
    color: #e64545;
}
.fa-google:hover {
    color: #bd1111;
}
.fa-linkedin:hover {
    color: #2851a8;
}



/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// FORM STYLE SHEETE /////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////
////////////////////// CONTENT BEGIN ///////////////////////*/

.search-row {
    width: 60vw;
    height: auto;
    margin: 50px;
    background: #00000000;

}

/* ///////////////////////////////////////////////////////////
////////////////////// CONTENT END /////////////////////////*/