/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------import all font----------------------- */

/* Font Distrampler */
@font-face {
    font-family: "Distrampler";
    src: url("../font/Distrampler.ttf") format("truetype");
}

/* Font Metanoia */
@font-face {
    font-family: "Metanoia";
    src: url("../font/Metanoia.ttf") format("truetype");
}

/* Font Geolight */
@font-face {
    font-family: "Geolight";
    src: url("../font/Geolight.ttf") format("truetype");
}
/* ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */


/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
------------------------ General -------------------------- */

*, 
::after, 
::before{
    box-sizing: border-box;
}
body{
    /* affichage */
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Metanoia','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scrollbar-width: none; /* minceur de la barre de défilement */
    scrollbar-color: #cccccc00 #f0f0f000; /* couleur de la barre de défilement */
    /* background */
    background-color: #ffffff;
    /* texte */
    font-size: 1.1em;
    color: #353538;
}
/* titre par defaut */
.title, 
h3 {
    font-size: 2em;
    transition: 0.5s;
    margin: 0;
    font-family: 'Distrampler';
}
/* lien par defaut */
a {
    display: inherit;
    color: inherit;
    text-decoration: none;
    transition: 0.4s ease-out;
}
/* liste par defaut */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ///////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// HEADER BEGIN ////////////////////////*/
header{
    background-color: #0808ad;
    display: flex;
    flex: 0;
}
/* barre de navigation */
.navbar {
    /* affichage */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px 30px;
    transition: 0.4s ease-out;
    /* position */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    /* background */
    background-color: #212e53;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    /* texte */
    color: white;
}
/* Items de gauche */
.left-items {
    order: 0; /* placer en premier à gauche */
}
/* Item de droite */
.right-items {
    order: 1; /* placer en second à gauche */
    display: inherit;
    justify-content: flex-end;
}
/* Element de gauche */
.initial{
    padding-left: 5px;
    border-left: 2px solid #ce6a6b;
    transition: 0.4s ease-out;
}
.initial:hover{
    margin-left: 5px;
    letter-spacing: 1px;
}

/* Elements de droite */
.right-items li{
    padding: 0 20px;
}
.right-items a:hover{
    color: #fff;
    transform: scale(1.2) translateX(-5px);
    cursor: pointer;
}
/* Recherche */
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Champ de recherche */
.search-form .search-input {
    /* affichage */
    width: 60%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    transition: 0.4s ease-out;
    /* background */
    background-color: #00000000;
    /* texte */
    color: #a1a1a1;
}
/* Icon de recherche */
.search-form .search-icon{
    color: #ce6a6b;
    font-size: 0.7em;
}
/* Bouton de recherche */
.search-form .search-button {
    /* affichage */
    border: none;
    transform: translateY(-3px); /* Mise en symetrie de bouton */
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    /* background */
    background-color: #212e53;
    /* texte */
    color: #bdbdbd;
    text-align: center;
    font-size: 1em;
}
/* :hover  et :focus du champs de recherche */
.search-form .search-input:hover, 
.search-form .search-input:focus {
    width: 100%;
    background-color: #cecece;
    color: #212e53;
}
/* /////////////////// HEADER END //////////////////////////*/

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// CONTENT BEGIN ///////////////////////*/
main{
    /* affichage */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background */
    background-color: #ffffff;
    /* texte */
    color: #212e53;
}
.row{
    /* affichage */
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    /* background */
    background-color: #ffffff;
}

/* ///////////////////////////////////////////////////////////
////////////////////// PRESENTATION ROW ////////////////////*/
.presentation{
    /* affichage */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background */
    background-image: url("../img/bkgr_squart.svg");
    background-attachment: fixed;
    animation: moveBackground 50s linear infinite;
}
@keyframes moveBackground {
    0% { background-position: 0 0; /* Position de depart */
    }
    100% { background-position: 100% 100%; /* Position finale (deplace le degrade jusqu'au bout) */
    }
}

/* image de gauche */
.left-side{
    width: 35%;
    /* background */
    background-color: rgba(255, 255, 0, 0);
}
.right-side{
    /* affichage */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 10px 10vw 10px 10px;
    width: 100%;
    height: 100vh;
    z-index: 1; /* positionnement au dessus de .left-side img */
    cursor: pointer;
    /* background */
    background: linear-gradient(to right, #ecf7f80e, #ccdbe6b4, #acc3d4c2, #8bbdc2d2, #6ba7b0d5, #4a919eea);
    /* texte */
    text-align: right;
    /* animation d'affichage */
    opacity: 0;
    transition: width 0.5s ease-out, opacity 0.5s ease-out;
}
.left-side img{
    /* affichage */
    transform: scale(3) translateX(8vw) translateY(5vh);
    transition: transform 1.5s ease-out;
}
/* texte de salutation */
.welcome{
    /* affichage */
    margin-bottom: 0px;
    transition: margin-right 5s; /* reduire la tramsition pour :hover out */
    /* texte */
    font-size: 4em;
}
.quote{
    color: #ce6a6b;
}

/* Modification en cas de :hover traiter sur javascript */
.modified-presentation .right-side{
    opacity: 1;
    outline: none;
    transition-delay: 0.5s;
    animation: goTo 2s forwards; /*glissade vers la gauche*/
}
@keyframes goTo {
    0% { 
        letter-spacing: -5px;
        width: 50%;
    }
    100% { 
        letter-spacing: normal;
        width: 100%; 
    }
}
.modified-presentation .left-side img{
    transform: scale(2.5) translateX(2vw) translateY(2vh); /*retourne au coin gauche*/
}

/* ///////////////////////////////////////////////////////////
////////////////////// PROFIL ROW //////////////////////////*/
.profil{
    /* affichage */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
/* section titre/intro du profil */
.intro{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-top: 10vh;
}
/* section detailles du profil */
.detail{
    /* affichage */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* section texte du profil */
.text {
    /* affichage */
    width: 40%;
    padding: 1.5em;
    padding-top: 0px;
    /* background */
    background-color: #0808ad00;
    /*texte*/
    line-height: 1.7em;
}
.text a{
    display: inline;
    color: #2851a8;
}
#nom{
    font-family: 'Distrampler';
    font-size: 1.8em;
}
/* section image : container de l'image*/
.profil .img {
    align-items: center;
    width: 30%;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}
/* image de la section profile */
.profil .img img{
    width: 100%;
    height: auto;
    border-radius: 15px;
    filter: grayscale(100%);
    transition: 0.2s ease-out;
}
.profil .img:hover img{
    filter: grayscale(0%);
    transform: scale(101%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3) inset, 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-out;
}
/* modification au cas de :hover sur la ligne  */
.modified-profil .img{
    opacity: 1;
    animation: moveImg 1.5s forwards; /*glissade vers la gauche*/
}
@keyframes moveImg {
    0% { 
        opacity: 0;
        transform: translateX(-10vw);
    }
    50% { 
        opacity: 0.5;
        transform: translateX(10vw);
    }
    100% { 
        opacity: 1;
        transform: initial;
    }
}

/* ///////////////////////////////////////////////////////////
////////////////////// PROJECT /////////////////////////////*/
#project {
    display: block;
    padding-bottom: 10vh;
    background-color: #a0a0a08c;
}
.project .intro{
    /* affichage */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    padding: 5px;
    transition: 0.4s ease-out;
    /* position */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    /* background */
    background-color: #4a919e;
    /* texte */
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
/* Styles lorsque l'élément est sticky et en haut (top: 0) */
.project .intro.intro-top {
    margin: 0px;
    /* padding-top: 5px; */
    font-size: 1.3em;
    transition: 0.4s ease-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
/* Styles lorsque l'élément est sticky et en haut (top: 0) */
.project .intro.intro-top p{
    padding: 5px;
    margin: 0px;
    transition: 0.4s ease-out;
    cursor: pointer;
}
.project .intro.intro-top .descrip {
    display: none;
    transform: 0.4s ease-out;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.project img{
    width: 70%;
}
.project .slide section, .project .slide section img{
    padding: 10px;
}
.project img:first-child{
    float: left;
    width: 50%;
}

.project ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 80vw;
    transition: transform 0.5s ease-in-out;
}

.project li {
    flex: 0 0 100%;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: transform 0.5s ease-in-out;
}

.project button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: #212e53;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}
.project .slide a{
    display: inline;
    color: #2851a8;
}

.project article{
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(31, 31, 31, 0.616);
    background: #e9e9e9;
}
.project article .ref{
    text-align: center;
}

#prev, #next {
    height: 25%;
    width: 5vw;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.fixed-arrow {
    position: fixed;
    transition: 0.5s ease-in-out;
}

#prev i, #next i{
    transition: transform 0.5s ease-in-out;
    transform: scale(2.5);
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

#prev:hover, #next:hover {
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.3);
}


.indicators {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
}

.indicators div:hover{
    transform: scale(200%);
    margin: 0 1em;
    transition: margin 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.indicators div {
    width: 10px;
    height: 10px;
    background-color: #798197;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: margin 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.indicators .active {
    background-color: #212e53;
}

/* ///////////////////////////////////////////////////////////
////////////////////// CONTENT END /////////////////////////*/



/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
////////////////////// FOOTER BEGIN ////////////////////////*/
footer{
    /* affichage */
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* background */
    background-color: rgb(22, 22, 22);
    /* texte */
    color: #a1a1a1;
    font-size: 1.0rem;
}
/* section pour le Nom avec une balise h3 */
footer .title{
    font-family: inherit;
    text-decoration: none;
    color: #a1a1a1;
    font-size: 1.1rem;
}
/* section pour les informations */
.info{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px 0;
}
/* section copyright */
.copyright{
    /* affichage */
    padding: 5px;
    /* texte */
    font-size: medium;
    text-align: center;
    font-size: 1rem;
}
/* Element nom */
.name{
    display: flex;
    justify-content: center;
    width: 30vw;
    margin-top: 50px;
    cursor: pointer;
}
/* section contacts */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10vw;
    border-left: 2px solid #a1a1a1;
    padding-left: 10vw;
}
/* section pour les reseaux */
footer .network{
    display: flex;
    flex-direction: row;
}
footer .network li, footer .phone li{
    list-style: none;
    margin: 0 10px;
}

/* les icons pour les reseaux */
footer .fa {
    color : #a1a1a1;
    transition: 0.4s ease-out;
}
footer .network .fa:hover{
    transform: scale(1.4) translateY(-20%);
}
footer .fa-facebook:hover {
    color: #3b5998;
}
footer .fa-twitter:hover {
    color: #5d8ffa;
}
footer .fa-instagram:hover {
    color: #e64545;
}
footer .fa-google:hover {
    color: #bd1111;
}
footer .fa-linkedin:hover {
    color: #2851a8;
}

/* ///////////////////////////////////////////////////////////
////////////////////// CONTENT END /////////////////////////*/





/* ////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////
/////////////////////// OTHER DEVICES /////////////////////////
//////////////////////////////////////////////////////////// */

/* Styles pour les smartphones (petits écrans) */
@media only screen and (max-width: 600px) {
    *{
        font-size: 15px;
    }
    /* ////////// HEADER /////////// */
    .navbar {
        /* affichage */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* position */
        position: static;
    }
    .navbar li{
        margin: 20px;
    }
    /* Item de droite */
    .right-items {
        display: flex;
        flex-direction: column
    }
    /* ////////// CONTENT /////////// */
    .row{
        /* affichage */
        min-height: fit-content;
    }
    .welcome{
        font-size: 40px;
    }
    .profil .detail {
        display: flex;
        flex-direction: column;
    }
    .text{
        width: 90%;
    }
    /* section image : container de l'image*/
    .profil .img {
        width: 80%;
        opacity: 1;
        margin-bottom: 50px;
    }
    /* modification au cas de :hover sur la ligne  */
    .modified-profil .img{
        animation: none;
    }
    .project img, .project img:first-child{
        float: none;
        width: 100%;
    }
    #prev, #next {
        width: 10vw;
    }
    /* ////////// FOOTER /////////// */
    footer, .info, .network {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .network .fa {
        margin: 10px;
    }
    /* section contacts */
    .contact {
        justify-content: center;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 10vh;
        padding-top: 10vh;
        border-top: 2px solid #a1a1a1;
        border-left: 0px;
    }
}
