*, :after, :before{
    box-sizing: border-box;
}


body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    background-image: url('assets/bkgr_1.svg');
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    color: #353538;
    font-family: 'UnistraA-Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
--------------------------all device------------------------*/
.title{
    font-size: 2em;
    transition: 0.5s;
    margin: 0;
}
a {
    display: inherit;
    color: #6a80c9;
    text-decoration: none;
}

/*/////////////HEADER BEGIN///////////////*/
header{
    width: 100vw;
    min-height: 10vh;
    display: flex;
}
.navbar {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #4a919e;
    background-color: #212e53;
    color: white;
}
.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.left-item {
    order: -1; /* Pour placer cet élément en premier à gauche */
}
.right-items {
    width: inherit;
    display: inherit;
    justify-content: flex-end;
}
.right-items li{
    padding: 0 20px;
}
/*/////////////HEADER END///////////////*/

/*/////////////CONTENT BEGIN///////////////*/
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    background-color: #bed3c3;
    width: 100vw;
    height: 100vh;
}
/*/////////////PRESENTATION ROW///////////////*/
.presentation section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#signature img{
    width: 65%;
    margin: 20px;
    transform: scale(1.6);
}

/*/////////////CONTENT END///////////////*/

/*/////////////FOOTER BEGIN///////////////*/
footer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(22, 22, 22);
    color: #a1a1a1;
    font-size: medium;
}
footer h3{
    text-decoration: none;
    color: #a1a1a1;
}
.info{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 10px 0;
}
.copyright{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
.name{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 30vw;
    cursor: pointer;
}
.contact {
    border-left: 2px solid #a1a1a1;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    padding-left: 10vw;
}
.network{
    display: flex;
    flex-direction: row;
}
.network li, .phone li{
    list-style: none;
    margin: 0 10px;
}


.fa {
    color : #a1a1a1;
    transition: 0.5s;
}
.network .fa:hover{
    position: relative;
    transform: scale(1.4) translateY(-40%);
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #5d8ffa;
}
.fa-instagram:hover {
    color: #e64545;
}
.fa-google:hover {
    color: #bd1111;
}
.fa-linkedin:hover {
    color: #2851a8;
}
.copyright{
    text-align: center;
    font-size: medium;
}
/*/////////////FOOTER END///////////////*/

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
--------------------property on laptop----------------------*/
@media (min-width: 800px) {
    /*default stuff*/

      
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------property on mobil----------------------*/
@media (max-width: 800px) { 
    header, .content, .box, footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* ///////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
---------------------import all font----------------------- */
@font-face {
    font-family: "UnistraA-Regular";
    src: url("font/UnistraA-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Italic";
    src: url("font/UnistraA-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraA-Bold";
    src: url("font/UnistraA-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraB-Regular";
    src: url("font/UnistraB-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Italic";
    src: url("font/UnistraB-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraB-Bold";
    src: url("font/UnistraB-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraC-Regular";
    src: url("font/UnistraC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraC-Italic";
    src: url("font/UnistraC-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraC-Bold";
    src: url("font/UnistraC-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "UnistraD-Regular";
    src: url("font/UnistraD-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraD-Italic";
    src: url("font/UnistraD-Italic.ttf") format("truetype");
}
@font-face {
    font-family: "UnistraD-Bold";
    src: url("font/UnistraD-Bold.ttf") format("truetype");
}